<!--===============================================
=            XML - CLASIFICAR            =
================================================-->
<section id="clasificarContainer">
    <h3 class="text-muted text-center">Clasificar</h3>
    <form id="frm-setCatSubInvBalance" class="travexForm">
        <input type="hidden" name="RelationId" value="{{RelationId}}">
        <div class="travexForm-group">
            <div class="travexForm-label"><span class="text-danger">*</span> Concepto</div>
            <select class="travexForm-control" id="cbConceptos" name="CatalogId" required>
                {{> dropDownList Clasificar.Conceptos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label"><span class="text-danger">*</span> Clasificacion</div>
            <select class="travexForm-control" id="cbClasificacion" name="SubCatalogId" required>
                <option selected disabled>Seleccione un concepto</option>
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Centro de Costos</div>
            <select class="travexForm-control" id="cbCentroCostos" name="CostCenterId">
                {{> dropDownList Clasificar.CentroCostos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Presupuesto</div>
            <select class="travexForm-control" id="cbPresupuestos" name="BudgetId">
                <option value="" selected disabled>Seleccione una opción</option>
                {{#each Clasificar.Presupuestos}}
                    <option value="{{Value}}" {{Selected}}>{{Text}}</option>
                    {{else}}
                        <option value="">N/A</option>
                {{/each}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Comentarios</div>
            <textarea name="Comments" class="travexForm-control"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Guardar</button>
    </form>
</section>