<div class="cardTravex-partial">
    <div class="cardTravex-hgroup">
        <div class="cardTravex-title">Selecciona una factura</div>
    </div>
    <input type="search" id="jetsSearch" placeholder="🔎 Buscar factura...">
    <div id="facturasContainer" class="facturas-container">
        {{#each Facturas}}
            <div class="xml" data-id="{{Id}}">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img src="../../../assets/img/travex/xml.svg" width="100%">
                    </div>
                    <div class="col-8">
                        <div class="xml-datos">
                            <div class="xml-datos-amountConsumed">{{currency Total}}</div>
                            <div class="xml-datos-emisor">{{Name_Emisor}}</div>
                            <div class="xml-datos-rfc">{{RFC_Emisor}}</div>
                            <div class="xml-datos-date">{{Date}}</div>
                            <div class="xml-datos-montos row">
                                <div class="col-6">
                                    <div class="text-success"><b>{{currency Total}}</b></div>
                                    <div>TOTAL</div>
                                </div>
                                <div class="col-6">
                                    <div class="text-danger"><b>{{currency Balance}}</b></div>
                                    <div>POR COMPROBAR</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">No se encontraron resultados</div>
                    </div>
                </div>
        {{/each}}
    </div>
    <div class="mt-4 p-4">
        <button type="button" class="btnVolver btn btn-block btn-secondary">Volver</button>
    </div>
</div>