/**
 *
 * XML
 *
 */
.subtitle {
  margin: 15px 0;
  color: #636363;
}
.xml {
  position: relative;
  background: #cacaca;
  border-radius: 10px;
  padding: 8px 0;
  margin-bottom: 10px;
}
.xml-datos {
  font-weight: 700;
  color: #545454;
  line-height: 1;
}
.xml-datos-amountConsumed {
  font-size: 22px;
}
.xml-datos-emisor {
  font-size: 14;
}
.xml-datos-rfc {
  font-size: 13px;
}
.xml-datos-date {
  font-size: 12px;
}
.xml-datos-montos {
  margin-top: 15px;
  font-size: 12px;
  color: #888;
}
