/**
 *
 * Agregar Tarjetas
 *
 */

.agregarTarjeta {
    position: relative;
    text-align: center;
    & .imagenTarjetas {
        text-align: center;
    }

    & .imagenTarjetas img {
        width: 65%;
        animation: pulsate-fwd 0.7s ease-in-out 1 both;
        margin: 20px auto 5px auto;
    }
    & .travexForm-control {
        margin-bottom: 15px;
        border-radius: 7px;
        border: none;
        background: rgba(0, 0, 0, .08);
        padding: 8px 13px;
        color: #555;
    }
    & .btn {
        background: #00BEDF;
        border-radius: 8px;
        border: none;
        color: #fff;
        font-weight: 500;
        padding: 8px 13px;
    }

    & .btn img {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
}