<!--=====================================
=            AGREGAR TARJETA            =
======================================-->
<section class="cardTravex">
    <div class="cardTravex-hgroup">
        <div class="cardTravex-title">Agregar Tarjeta</div>
    </div>
    <div id="agregarTarjeta" class="agregarTarjeta">
        <div class="imagenTarjetas">
            <img src="../../assets/img/travex.png" alt="tarjetas">
        </div>
        <form id="frm-agregarTarjeta" class="travexForm">
            <div class="travexTar-group">
                <label class="travexTar-label">Ingresa el Número de Tarjeta</label>
                <br>
                <input type="number" name="Card" class="travexForm-control" required>
            </div>
            <div class="p-4">
                <button type="submit" class="btn btn-primary btn-block">Agregar</button>
            </div>
        </form>
    </div>
</section>