<!--===============================================
=            POR FACTURAR - CLASIFICAR            =
================================================-->
<section id="clasificarContainer">
    <h3 class="text-muted text-center">Clasificar</h3>
    <form id="frm-setCatSubInvBalance" class="travexForm">
        <input type="hidden" name="RelationId" value="{{RelationId}}">
        <div class="travexForm-group">
            <div class="travexForm-label">Concepto</div>
            <select class="travexForm-control" id="cbConceptos" name="CatalogId" tabindex="1">
                {{> dropDownList Clasificar.Conceptos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Clasificacion</div>
            <select class="travexForm-control" id="cbClasificacion" name="SubCatalogId" tabindex="2">
                <option selected disabled>Seleccione un concepto</option>
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Centro de Costos</div>
            <select class="travexForm-control" id="cbCentroCostos" name="CostCenterId" tabindex="3">
                {{> dropDownList Clasificar.CentroCostos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Presupuesto</div>
            <select class="travexForm-control" id="cbPresupuestos" name="BudgetId" tabindex="4">
                <option value="" selected disabled>Seleccione una opción</option>
                {{#each Clasificar.Presupuestos}}
                    <option value="{{Value}}" {{Selected}}>{{Text}}</option>
                    {{else}}
                        <option value="">N/A</option>
                {{/each}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Subir Imagen</div>
        </div>
        <div id="files64" class="files64" data-base="">
            <button type="button" class="files64-button" data-source="PHOTOLIBRARY">
                <img src="../../assets/img/travex/smartphone.svg" alt="photo-camera" class="files64-button-img">
            </button>
            <button type="button" class="files64-button" data-source="CAMERA">
                <img src="../../assets/img/travex/photo-camera.svg" alt="photo-camera" class="files64-button-img">
            </button>
            <div class="files64-prev">
                <img src="../../assets/img/travex/empty-state-illustrations.gif" class="files64-prev-img">
            </div>
        </div>
        <div class="travexForm-group">
            <div class="pretty p-default p-thick p-pulse">
                <input type="checkbox" id="ck-asistente" tabindex="6">
                <div class="state p-warning-o">
                    <label class="travexForm-label">Copia a Asistente</label>
                </div>
            </div>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Comentarios</div>
            <textarea name="Comments" class="travexForm-control" tabindex="5"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Guardar</button>
        <button type="button" class="btnCerrar btn btn-block btn-secondary" data-relation="{{RelationId}}" data-type="regresar">Regresar</button>
        <button type="button" class="btnCerrar btn btn-block btn-danger" data-relation="{{RelationId}}" data-type="cancelar">Cancelar</button>
    </form>
</section>