<!--==================================================
=            POR FACTURAR - TRANSACCIONES            =
===================================================-->
<button class="floatButtonLeft" data-toggle="modal" data-target="#modalFiltros">
    <img src="../../assets/img/travex/filter.svg" alt="filtros">
</button>
    <button id="btnUpdate" class="floatButtonRight">
        <img src="../../assets/img/travex/update.svg" alt="update">
</button>
        <section class="transacciones">
            <input type="search" id="jetsSearch" placeholder="🔎 Buscar transaccion...">
            <div id="transaccionesContainer" class="transacciones-container">
                {{#each Transacciones}}
                    <div class="transaccion {{Color.Name}}" data-id="{{Id}}" data-relation="{{RelationId}}">
                        {{#if IsVirtual}}
                            <div class="transaccion-porFacturar" data-relation="{{RelationId}}">
                                <img src="../../assets/img/travex/paper-clip.svg">
                    </div>
                        {{/if}}
                        <div class="transaccion-id">{{Id}}</div>
                        <div class="transaccion-comercio">{{Vendor}}</div>
                        <div class="transaccion-fecha">{{Date}}</div>
                        <div class="row transaccion-detalle">
                            <div class="col-6">
                                <div class="text-success"><b>{{currency Amount}}</b></div>
                                <div>TOTAL</div>
                            </div>
                            <div class="col-6">
                                <div class="text-danger"><b>{{currency Balance}}</b></div>
                                <div>POR COMPROBAR</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div id="mensajeFiltros" class="transacciones-count"></div>
        </section>
        <div id="modalFiltros" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="text-center">Búsqueda Avanzada</h5>
                        <div class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Predefinido
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-value="1">Hoy</a>
                                    <a class="dropdown-item" href="#" data-value="2">Últimos 7 días</a>
                                    <a class="dropdown-item" href="#" data-value="3">Este mes</a>
                                    <a class="dropdown-item" href="#" data-value="4">Últimos 90 días</a>
                                </div>
                            </div>
                        </div>
                        <form id="frmFiltros">
                            <div class="form-group">
                                <label>Fecha Inicio <span class="required">*</span></label>
                                <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Fecha Fin</label>
                                <input type="date" id="fechaFin" name="fechaFin" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Cantidad de comprobaciones</label>
                                <input type="hidden" name="Limit" id="iCantidad" value="10">
                                <div id="btnCantidadComprobaciones" class="text-center mb-4">
                                    <button type="button" class="btn btn-secondary active">10</button>
                                    <button type="button" class="btn btn-secondary">20</button>
                                    <button type="button" class="btn btn-secondary">30</button>
                                    <button type="button" class="btn btn-secondary">40</button>
                                    <button type="button" class="btn btn-secondary">50</button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Aplicar</button>
                        </form>
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>