/**
 *
 * COMPROBAR
 *
 */

.transacciones {
    position: relative;
    &-container {
        padding: 15px;
    }
}

.transaccion {
    background: #d2d2d2;
    border-left: 30px solid #ccc;
    border-radius: 10px;
    margin: 0 0 25px 0;
    padding: 5px 0;
    position: relative;
    text-align: center;
    &.ROJO {
        border-left-color: #c00000;
    }
    &.VERDE {
        border-left-color: #70ad47;
    }
    &.AZUL {
        border-left-color: #001a70;
    }
    &.TARJETA {
        & .transaccion-eliminar {
            display: none;
        }
    }
    &-porFacturar {
        position: absolute;
        top: -16px;
        right: 12px;
        width: 19px;
        & img {
            display: inline-block;
            width: 100%;
        }
    }
    &-id {
        position: absolute;
        top: 10px;
        left: -22px;
        transform: rotate(90deg);
        transform-origin: bottom left;
        font-size: 12px;
        color: #fff;
    }
    &-comercio {
        font-weight: 700;
        color: #424242;
        font-size: 14px;
    }
    &-fecha {
        font-size: 13px;
        color: #424242;
        font-weight: 500;
    }
    &-detalle {
        font-size: 10px;
        color: #6b6b6b;
        margin: 6px 0 0 0;
    }
}

.factura {
    align-items: center;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
    border-left: 10px solid #ccc;
    margin-bottom: 10px;
    &-monto {
        color: #214288;
        font-size: 22px;
    }
    &.ROJO {
        border-left-color: #c00000;
    }
    &.VERDE {
        border-left-color: #70ad47;
    }
    &.AZUL {
        border-left-color: #001a70;
    }
}