<!--===========================
=            SALDO            =
============================-->
<div id="loadingSaldo-container" class="loadingSaldo-container">
    <div class="loadingSaldo-container-text">La tarjeta cambiará de estatus en un momento</div>
    <div class="loadingSaldo">
        <span>30s</span>
    </div>
</div>
<div class="cardTravex">
    <div class="cardTravex-hgroup">
        <div class="add-card" onclick="app.View('agregarTarjeta')">
            +<a onclick="app.View('agregarTarjeta')"> </a>
        </div>
        <h3 class="cardTravex-title">Tarjetas</h3>
    </div>
    <div class="tarjetas-container">
        {{#each Tarjetas}}
            <div class="tarjeta">
                <div class="tarjeta-container">
                    <div class="tarjeta-container-toggleArrow"></div>
                    <div class="tarjeta-img">
                        <img data-img="{{Product.Imagen}}" alt="Product.Producto">
                    </div>
                    <div class="tarjeta-datos">
                        <div class="tarjeta-datos-nombre">{{Product.Producto}}</div>
                        <div class="tarjeta-datos-numero">{{CardNumber}}</div>
                        <div class="tarjeta-datos-saldo">{{currency Balance}}</div>
                    </div>
                </div>
                <div class="tarjeta-movimientos">
                    {{#each Transactions}}
                        <div class="tarjeta-movimientos-movimiento">
                            <div class="tarjeta-movimientos-col">
                                <div class="tarjeta-movimientos-fecha">{{Date}}</div>
                                <div class="tarjeta-movimientos-concepto">{{Concept}}</div>
                            </div>
                            <div class="tarjeta-movimientos-col text-center">
                                <div class="tarjeta-movimientos-monto">{{currency Amount}}</div>
                            </div>
                        </div>
                        {{else}}
                            <div class="tarjeta-movimientos-movimiento">
                                <div class="tarjeta-movimientos-col">
                                    <div class="tarjeta-movimientos-fecha"></div>
                                    <div class="tarjeta-movimientos-concepto">No se encontraron movimientos</div>
                                </div>
                                <div class="tarjeta-movimientos-col text-center">
                                    <div class="tarjeta-movimientos-monto"></div>
                                </div>
                            </div>
                    {{/each}}
                </div>
                <div class="bloquear-tarjeta">
                    <div class="pretty p-default p-thick p-pulse">
                        <input type="checkbox" class="ckSetAppCardONOFF" data-card="{{CardNumber}}" data-status="{{Status}}">
                        <div class="state p-warning-o">
                            <label><b>Bloqueada</b></label>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">No se encontraron resultados</div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>