/**
 *
 * SALDO
 *
 */

.tarjetas-container {
    position: relative;
    margin: 15px;
    padding-bottom: 15px;

    .tarjeta {
        position: relative;
        margin-bottom: 15px;
        &.active {
            & .tarjeta-container {
                border-color: #a6a6a6;
            }
            & .tarjeta-img img {
                animation: pulsate-fwd 0.5s ease-in-out 3 both;
            }
        }
        &-container {
            position: relative;
            background: #f2f2f2;
            border-radius: 5px;
            padding: 8px;
            display: flex;
            border: 2px solid #fff;
            z-index: 1;
            @radioToggleArrow: 24px;
            &-toggleArrow {
                background: #fff url(../../assets/img/travex/arrowDown.svg) no-repeat center center;
                background-size: 60%;
                border-radius: 50%;
                border: 1px solid #ccc;
                height: @radioToggleArrow;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: @radioToggleArrow;
                right: 5px;
                &.expand {
                    background: #fff url(../../assets/img/travex/arrowUp.svg) no-repeat center center;
                    background-size: 60%;
                }
            }
        }
        &-img {
            flex: 0 0 40%;
            text-align: center;
            & img {
                display: inline-block;
                width: 90%;
            }
        }
        &-datos {
            flex: 1 0 auto;
            text-align: center;
            &-nombre {
                font-weight: 700;
                font-size: 12px;
            }
            &-numero {
                font-weight: 700;
            }
            &-saldo {
                font-size: 22px;
                font-weight: 900;
            }
        }
        &-movimientos {
            background: #a6a6a6;
            border-radius: 10px;
            color: #fff;
            padding-bottom: 10px;
            position: relative;
            top: -10px;
            opacity: 0;
            display: none;
            padding: 8px;
            &.active {
                display: block;
                animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            &-movimiento {
                align-items: center;
                border-bottom: 2px solid #b1b0b0;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                padding-bottom: 10px;
                &:first-child {
                    padding-top: 20px;
                }
                &:last-child {
                    border-bottom: 0;
                }
                &:hover {
                    border-bottom-color: #fff;
                }
            }
            &-col:nth-child(1) {
                flex: 0 0 70%;
            }
            &-col:nth-child(2) {
                flex: 0 0 30%;
                overflow: auto;
            }
            &-fecha {
                font-size: 10px;
                color: #fff;
            }
            &-concepto {
                font-size: 12px;
                font-weight: 600;
                color: #e6e6e6;
            }
            &-monto {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}


.add-card {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #00BEDF;
    font-weight: 600;
    color: #fff;
    position: absolute;
    display: inline-block;
    margin: 17px 0 0 90px;
}




@keyframes scale-in-ver-top {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes pulsate-fwd {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bloquear-tarjeta {

    text-align: right;
    margin-bottom: 5px;
    padding-top: 8px;
}

.bloquear-tarjeta b {
    vertical-align: top;
}


.on {
    display: none;
}

.si {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    font-size: 14px;
    font-weight: 600;
}

.no {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    font-size: 14px;
    font-weight: 600;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

.loadingSaldo-container {
    background: #0d8aa5 url(../../assets/img/travex/loadingSaldo.png) no-repeat center bottom;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none;
    &.active {
        display: block;
    }
    &-text {
        font-size: 22px;
        padding: 35px;
        color: #fff;
        text-align: center;
    }
}

.loadingSaldo {
    align-items: center;
    background: #fff;
    border-radius: 100%;
    border: 10px solid #19bee1;
    display: flex;
    height: 100px;
    justify-content: center;
    left: 50%;
    margin: -60px 0 0 -60px;
    position: absolute;
    top: 50%;
    width: 100px;
    & span {
        font-weight: 700;
        font-size: 20px;
    }
    &:after {
        content: '';
        background: trasparent;
        width: 140%;
        height: 140%;
        position: absolute;
        border-radius: 100%;
        top: -20%;
        left: -20%;
        opacity: 0.7;
        box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
        animation: rotate 2s infinite linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
















































/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}