<div class="cardTravex-partial">
    <h4 class="empleados-container-title">Selecciona un empleado</h4>
    <input type="search" id="jetsSearch" placeholder="🔎 Buscar empleado..." spellcheck="false" autocomplete="off">
    <div id="empleadosContainer" class="empleados-container">
        {{#each Empleados}}
            <div class="empleado" data-id="{{EmployeeId}}" data-name="{{FullName}}">
                <div class="empleado-avatar">
                    <img src="../../../assets/img/travex/perfil_icon.png">
                </div>
                <div class="empleado-datos">
                    <div class="empleado-datos-nombre">{{FullName}}</div>
                    <div class="empleado-datos-card">{{CardNumber}}</div>
                </div>
            </div>
            {{else}}
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">No se encontraron resultados</div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>