/**
 *
 * _empleados
 *
 */


/**
 *
 * _empleados
 *
 */

#jetsSearch {
    background: #dbdbdb;
    border: 0;
    color: #000;
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 100%;
}

.empleados-container {
    position: relative;
    padding: 0 0 30px 0;
    &-title {
        text-align: center;
        color: #6e6e6e;
        padding: 20px 0 5px 0;
        font-size: 18px;
    }
    & .empleado {
        background: #d2d2d2;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        overflow: hidden;
        padding: 10px 0;
        &-avatar {
            flex: 0 0 80px;
            text-align: center;
            & img {
                display: inline-block;
                width: 80%;
            }
        }
        &-datos {
            flex: 1;
            padding: 0 15px;
            color: #878686;
            &-nombre {
                font-weight: 600;
            }
            &-card {
                font-weight: 600;
            }
        }
        &:hover {
            background: #fff;
        }
    }
}

.imgBusqueda {
    width: 15%;
}

.travexForm-control {
    margin-bottom: 15px;
    display: inline-block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #dbdbdb;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}