/**
 *
 * EXPRESS
 *
 */

h3,
form {
    margin: 5px auto 5px auto;
    padding-top: 5px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00BEDF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00BEDF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-group {
    margin: 13px 0;
    text-align: left;
    font-weight: 500;
}

.form-control {
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, .08);
}

.comentarios {
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, .08);
    font-weight: 400;
}

.btn-express {
    background-color: #00BEDF;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    color: #fff;
    padding: 7px 30px;
}