<div class="cardTravex">
    <div class="cardTravex-hgroup">
        <h3 class="cardTravex-title">Presupuesto Express</h3>
    </div>
    <form id="frm-express" class="travexForm">
        <div class="form-group">
            <label for="seleccionEmpleado">Empleado</label>
            <select class="form-control needsclick" id="seleccionEmpleado" name="EmployeeId" required>
                <option value="" disabled selected>Seleccione una opcion</option>
                {{#each Empleados}}
                    <option value="{{EmployeeId}}">{{FullName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Monto</label>
            <input class="form-control needsclick" type="number" placeholder="$0.00" step="0.01" name="Amount" required>
        </div>
        <div class="form-group">
            <label>Objetivo</label>
            <input type="text" placeholder="Opcional" class="comentarios" name="Comment" required>
        </div>
        <div class="form-group">
            <div class="pretty p-default p-thick p-pulse">
                <input type="checkbox" id="ck-reset" value=" true" name="Reset">
                <div class="state p-warning-o">
                    <label>Restablecer Tarjeta</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>