<!--===============================
=            COMPROBAR            =
================================-->
<section class="presupuestoAlta">
    <div id="breadcrumbs"></div>
    <div class="cardTravex">
        <div class="cardTravex-hgroup">
            <div class="cardTravex-title">Comprobar</div>
        </div>
        <div id="presupuestoAltaPartial" class="presupuestoAlta-partial">
            {{{Partial}}}
        </div>
    </div>
</section>