<!--=================================================
=            COMPROBAR - DETALLE FACTURA            =
==================================================-->
<div class="detalleFactura mb-4">
    {{#each this}}
        <ul class="list-group list-group-flush mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Conciliado</b> <span class="text-muted">{{currency Conciliado}}</span></li>
            <!--<li class="list-group-item d-flex justify-content-between align-items-center"><b>Politica</b> <span class="text-muted">{{Politica}}</span></li>-->
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Concepto</b> <span class="text-muted">{{Concepto}}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Clasificación</b> <span class="text-muted">{{Clasificacion}}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Centro de Costos</b> <span class="text-muted">{{CentroCostos}}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Cuenta Contable</b> <span class="text-muted">{{CuentaCont}}</span></li>
            {{#if isPptoNA}}
                <li class="list-group-item d-flex justify-content-between align-items-center"><b>Presupuesto</b> <span class="text-muted">N/A</span></li>
            {{else}}
                <li class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Presupuesto</h5>
                        <small class="text-muted">{{Ppto.Id}}</small>
                    </div>
                    <p class="mb-1">{{Ppto.Description}}</p>
                    <small class="text-muted">{{Ppto.StartDate}} a {{Ppto.EndDate}}</small>
                </li>
            {{/if}}
            {{#if ../disabledButtons}}
                <li class="list-group-item d-flex justify-content-between align-items-center"><b>Proyecto</b> <span class="text-muted">{{Proyecto}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comentarios</b> <span class="text-muted">{{Comments}}</span></li>
                {{#if ShouldClassificate}}
                    {{#if detalleOtraTransaccion}}
                        <li class="list-group-item">
                            <small class="text-muted">* Este detalle pertenece a otra transacción.</small>
                            <button type="button" class="btn btn-sm goToTransactions" data-transaction="{{TransactionId}}">Ir a transacción #{{TransactionId}}</button>
                        </li>
                    {{else}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <button class="btnSetCatSubInvBalance btn btn-success" data-id="{{RelationId}}" data-budget="{{Ppto.Id}}">EDITAR CLASIFICACIÓN</button>
                        </li>
                    {{/if}}
                {{/if}}
            {{/if}}
        </ul>
    {{/each}}
    {{#if disabledButtons}}
        <div class="p-4">
            <button class="btnSetUntieInvoice btn btn-info btn-block" data-id="{{RelationId}}">DESLIGAR</button>
        </div>
    {{/if}}
</div>