<!--==========================================
=            COMPROBAR - DETALLLE            =
===========================================-->
<section class="facturas">
    <div class="facturas-transaccion">
        <h4>Transacción #{{Transaccion.Id}}</h4>
        <small class="text-muted">{{Transaccion.Vendor}}</small>
    </div>
    <input type="search" id="jetsSearch" placeholder="🔎 Buscar factura..." class="{{showJets}}">
    <div id="facturasContainer" class="facturas-container">
        {{#each Facturas}}
            <div class="factura {{Color.Name}}" data-id="{{Id}}" data-toggle="collapse" href="#factura-{{Id}}" role="button" aria-expanded="false" aria-controls="factura-{{Id}}" data-disabled="{{../isDisableCollapsButtons}}">
                <div class="factura-tipo">{{Type}}</div>
                <div class="factura-emisor">{{Name_Emisor}}</div>
                {{#if ../IsVirtual}}
                    <div class="text-muted">{{SAT_Name}}</div>
                {{else}}
                    <div class="factura-fecha">{{Date}}</div>
                {{/if}}
                <div class="factura-monto">{{currency AmountConsumed}}</div>
            </div>
            <div id="factura-{{Id}}" class="collapse collapsed"></div>
        {{/each}}
    </div>
    <div class="p-4 text-center">
        {{#if showOptions}}
            <h3>BALANCE <span class="text-blue">{{currency Transaccion.Balance}}</span></h3>
            <div class="options">
                <button class="btnXML">
                    <img src="../../assets/img/travex/xml.svg" width="24px">
                    <span>XML</span>
                </button>
                <button class="btnTicketManual" data-amount="{{Transaccion.Balance}}">
                    <img src="../../assets/img/travex/ticket.svg" width="24px">
                    <span>Ticket Manual</span>
                </button>
            </div>
        {{/if}}
        <button class="btnGoToTransactions btn btn-block btn-secondary mt-4">Volver</button>
    </div>
</section>
<section id="clasificarContainer" class="clasificar">
    <button class="btn btn-danger btn-sm btnCerrar clasificar-btnCerrar">&times;</button>
    <h3 class="subtitle">Clasificar</h3>
    <form id="frm-setCatSubInvBalance" class="travexForm">
        <input type="hidden" name="RelationId" class="RelationId">
        <div class="travexForm-group">
            <div class="travexForm-label"><span class="text-danger">*</span> Concepto</div>
            <select class="travexForm-control" id="cbConceptos" name="CatalogId" required>
                {{> dropDownList Clasificar.Conceptos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label"><span class="text-danger">*</span> Clasificacion</div>
            <select class="travexForm-control" id="cbClasificacion" name="SubCatalogId" required>
                <option selected disabled>Seleccione un concepto</option>
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Centro de Costos</div>
            <select class="travexForm-control" id="cbCentroCostos" name="CostCenterId">
                {{> dropDownList Clasificar.CentroCostos}}
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Presupuesto</div>
            <select class="travexForm-control" id="cbPresupuestos" name="BudgetId">
                <option value="" selected disabled>Seleccione una opción</option>
                {{#each Clasificar.Presupuestos}}
                    <option value="{{Value}}" {{Selected}}>{{Text}}</option>
                {{/each}}
                <option value="1000">N/A</option>
            </select>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Comentarios</div>
            <textarea name="Comments" class="travexForm-control"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Guardar</button>
        <button type="button" class="btnCerrar btn btn-block btn-secondary">Cerrar</button>
    </form>
</section>