/**
 *
 * COMPROBAR
 *
 */

.btnTransaccionManual {
    background: transparent;
    border: 0;
    color: #484848;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    border-top: 3px solid #4899d2;
    border-bottom: 3px solid #293c7d;
    margin-bottom: 15px;

    & img {
        width: 24px;
    }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    background: #2196F3;
    border-color: #00BCD4;
}

.transacciones {
    position: relative;

    &-container {
        padding: 15px;
    }

    &-count {
        text-align: center;
        font-size: 12px;
        color: #555;
        padding: 10px 20px;
        background: #dcdcdc;
    }

    &-filtros {
        display: flex;
        height: 30px;
        border-radius: 5px;
        width: 90%;
        margin: 0 auto;

        &-item {
            background: #a1a1a1;
            border-radius: 5px;
            box-shadow: 0px 3px 0px 1px #ccc;
            flex: 1;
            font-size: 12px;
            font-weight: 600;
            margin-right: 5px;
            text-align: center;
            transition: all .2s linear;
            border: 1px solid #c4c4c4;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;

            &:first-child {
                box-shadow: none;
                background: transparent;
                color: #252525;
                font-weight: 900;
                border: 2px solid #445890;

                &.active {
                    background: #21b6d7;
                    color: #fff;
                    box-shadow: none;
                    border-color: transparent;
                }
            }

            & img {
                height: 100%;
                display: inline-block;
                padding: 4px;
                max-width: 100%;
            }

            &.verde {
                background: radial-gradient(#70ad47, darken(#70ad47, 10%));
            }

            &.rojo {
                background: radial-gradient(#c00000, darken(#c00000, 10%));
            }

            &.azul {
                background: radial-gradient(#001a70, darken(#001a70, 10%));
            }

            &.active {
                box-shadow: inset 0px 0px 0px 2px #efefef;
            }

            &.manual {
                background: linear-gradient(180deg, #f7f7f7, #e6e6e6);
            }
        }
    }

    &-filtrosDetalle {
        align-items: center;
        background: #ededed;
        color: #8b8b8b;
        display: flex;
        font-size: 12px;
        justify-content: center;
        padding: 10px 20px;
        text-align: center;

        & span {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.transaccion {
    background: #d2d2d2;
    border-left: 30px solid #ccc;
    border-radius: 10px;
    margin: 0 0 25px 0;
    padding: 5px 0;
    position: relative;
    text-align: center;

    &:hover,
    &.selected {
        animation: heartbeat 1.5s ease-in-out 4 both;
        background: #FFF;
    }

    &.ROJO {
        border-left-color: #c00000;
    }

    &.VERDE {
        border-left-color: #70ad47;
    }

    &.AZUL {
        border-left-color: #001a70;
    }

    &.TARJETA {
        & .transaccion-eliminar {
            display: none;
        }
    }

    &-eliminar {
        align-items: center;
        bottom: -14px;
        display: flex;
        font-size: 24px;
        justify-content: center;
        left: -16px;
        position: absolute;
        z-index: 9;
    }

    &-id {
        position: absolute;
        top: 10px;
        left: -22px;
        transform: rotate(90deg);
        transform-origin: bottom left;
        font-size: 12px;
        color: #fff;
    }

    &-comercio {
        font-weight: 700;
        color: #424242;
        font-size: 14px;
    }

    &-fecha {
        font-size: 13px;
        color: #424242;
        font-weight: 500;
    }

    &-detalle {
        font-size: 10px;
        color: #6b6b6b;
        margin: 6px 0 0 0;
    }
}

.facturas {
    &-transaccion {
        text-align: center;
        background: #efefef;
        padding: 10px;

        & h4 {
            margin: 0
        }

        & small {
            position: relative;
        }
    }
}

.factura {
    align-items: center;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
    border-left: 10px solid #ccc;
    margin-bottom: 10px;

    &-monto {
        color: #214288;
        font-size: 22px;
    }

    &.ROJO {
        border-left-color: #c00000;
    }

    &.VERDE {
        border-left-color: #70ad47;
    }

    &.AZUL {
        border-left-color: #001a70;
    }
}

.clasificar {
    align-items: center;
    background: #ffffff;
    border-left: 3px solid #6c757d;
    border-radius: 10px 0 0 10px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    position: fixed;
    right: -80vw;
    top: 0;
    transition: all 0.1s ease, box-shadow .2s linear;
    width: 80vw;
    z-index: 9999;

    &.active {
        box-shadow: 0px 0px 0px 25vw rgba(0, 0, 0, 0.5);
        right: -0;
    }

    &-btnCerrar {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: #fff;
        border-radius: 0;
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        flex: 1;
        box-shadow: inset 0px -1px 3px rgba(0, 0, 0, .1);

        & img {
            display: inline-block;
            width: 54px;
        }

        & span {
            display: block;
            font-weight: 600;
            color: #4a5b79;
        }
    }
}