/**
 *
 * Autorizar Presupuesto
 *
 */

.autorizarPresupuesto {
    position: relative;
    &-filtros {
        background: #eee;
        padding: 25px 8px;
    }
    &-group {
        position: relative;
        text-align: center;
        & img {
            display: inline-block;
            width: 24px;
        }
        & label {
            display: inline-block;
            font-weight: 600;
        }
        & input {
            background: #eee;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: block;
            padding: 8px;
            width: 100%;
        }
    }
}


.accordionAutorizar {
    position: relative;
    margin: 10px;
    border-radius: 5px;
    &-accordion {
        margin: 0 0 15px 0;
        &.Procesando {
            filter: grayscale(100%);
            opacity: .6;
        }
        &-header {
            padding: 15px;
            color: #fff;
            background-image: url("../../assets/img/travex/fondo_budget.png");
            background-size: cover;
            border-radius: 6px;
            position: relative;
            margin-bottom: 3px;
        }
    }
    & .budget-number {
        margin: 0 auto 5px;
        background-color: rgba(250, 250, 250, .15);
        border-radius: 6px;
        font-weight: 500;
        text-align: center;
        width: 44%;
    }
    & .budget-amm {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
    }
    & .budget-desc,
    & .budget-proj {
        font-size: 14px;
    }
    & .budget-date {
        font-size: 12px;
        font-weight: 500;
    }
    & .budget-createDate {
        position: absolute;
        color: #fff;
        top: 0;
        transform: rotate(90deg);
        transform-origin: top left;
        width: 171px;
        text-align: center;
        left: 98%;
        font-weight: 700;
        opacity: .3;
    }
}

.accordionAutorizar-collapse {
    background: #efefef;
    padding: 10px;
}

.accordion-detail {
    position: relative;
    &-header {
        background: #ccc;
    }
    &-item {
        background: #fff;
    }
}