<!--===========================================
=            Autorizar Presupuesto            =
============================================-->
<section id="autorizarPresupuesto" class="autorizarPresupuesto">
    <div class="cardTravex">
        <div class="cardTravex-hgroup">
            <h3 class="cardTravex-title">Autorizar Presupuesto</h3>
        </div>
        <form id="frm-Budgets" class="autorizarPresupuesto-filtros">
            <input type="hidden" name="Type" value="Date">
            <div class="row">
                <div class="col-6">
                    <div class="autorizarPresupuesto-group">
                        <img src="../../assets/img/travex/calendar.svg">
                        <label>Inicio</label>
                        <input type="date" name="StartDate" id="StartDate" class="travexForm-control" value="{{fecha}}" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="autorizarPresupuesto-group">
                        <img src="../../assets/img/travex/calendar.svg">
                        <label>Fin</label>
                        <input type="date" name="EndDate" id="EndDate" class="travexForm-control" value="{{fecha}}" required>
                    </div>
                </div>
            </div>
            <div class="m-4 text-center">
                <button type="submit" class="btn btn-primary btn-block">Buscar</button>
            </div>
        </form>
        <div class="autorizarPresupuesto-presupuestos">
            <input type="search" id="jetsSearch" placeholder="🔎 Buscar presupuesto...">
            <div id="accordion" class="accordionAutorizar">
                {{#each Presupuestos}}
                    <div class="accordionAutorizar-accordion {{Status.Name}}" data-status="{{Status.Id}}">
                        <div class="accordionAutorizar-accordion-header" id="heading-{{Id}}" data-toggle="collapse" data-target="#collapse-{{Id}}" aria-expanded="true" aria-controls="collapse-{{Id}}">
                            <div class="budget-number"><span>N° {{Id}}</span></div>
                            <div class="budget-amm"><span>Monto: {{currency Amount}}</span></div>
                            <div>{{Employee.FullName}}</div>
                            <div class="budget-desc">{{Description}}</div>
                            <div class="budget-proj">{{Project.Name}}</div>
                            <div class="budget-date">{{StartDate}} a {{EndDate}}</div>
                            <div class="budget-createDate"><img src="../../assets/img/travex/calendar.svg" width="22px"> {{CreateDate}}</div>
                        </div>
                        <div id="collapse-{{Id}}" class="accordionAutorizar-collapse collapse" aria-labelledby="heading-{{Id}}" data-parent="#accordion">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div><b>Objetivo</b></div>
                                    <div class="text-muted">{{Description}}</div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div><b>Estado</b></div>
                                    <div class="text-muted">{{State.Name}}</div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div><b>Municipio</b></div>
                                    <div class="text-muted">{{Municipality.Name}}</div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div><b>Estatus</b></div>
                                    <div class="text-muted">{{Status.Name}}</div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div><b>Saldo</b></div>
                                    <div class="text-muted">{{currency Balance}}</div>
                                </li>
                            </ul>
                            <h5 class="m-4 text-muted">Detalle</h5>
                            <div id="accordion-detail" class="accordionAutorizar-accordion">
                                {{#each Details}}
                                    <div class="accordionAutorizar-accordion-header" data-toggle="collapse" data-target="#details-{{BudgetId}}-{{Id}}" aria-expanded="true" aria-controls="details-{{Id}}">
                                        Concepto: <b>{{Catalog.Name}}</b>
                                    </div>
                                    <div id="details-{{BudgetId}}-{{Id}}" class="collapse accordionAutorizar-collapse" aria-labelledby="headingOne" data-parent="#accordion-detail">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div><b>Concepto</b></div>
                                                <div class="text-muted">{{Catalog.Name}}</div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div><b>Clasificacion</b></div>
                                                <div class="text-muted">{{Subcatalog.Name}}</div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div><b>Monto</b></div>
                                                <input type="number" name="Amount" value="{{Amount}}" class="updateBudgetDetail form-control m-1" data-detail="{{Id}}" data-budget="{{BudgetId}}">
                                                <span class="btnSetUpdateBudgetDetail badge badge-primary badge-pill">editar</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div><b>Descripcion</b></div>
                                                <div class="text-muted">{{Description}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="travexForm">
                                <div class="travexForm-group">
                                    <div class="travexForm-label">Comentarios</div>
                                    <textarea class="travexForm-control txt"></textarea>
                                </div>
                            </div>
                            <div class="text-center {{#if showButtons}} hide {{/if}}">
                                <button class="btnSetChangeStatus btn btn-success btn-block" data-status="Autorizado" data-budget="{{Id}}">Autorizar</button>
                                <button class="btnSetChangeStatus btn btn-danger btn-block" data-status="Rechazado" data-budget="{{Id}}">Rechazar</button>
                                <button class="btnSetChangeStatus btn btn-secondary btn-block" data-status="Cancelado" data-budget="{{Id}}">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    {{else}}
                        <p class="jumbotron text-center text-center p-4">No existen presupuesto por autorizar.</p>
                {{/each}}
            </div>
        </div>
    </div>
</section>