<!--========================================
=            TRANSACCION MANUAL            =
=========================================-->
<section class="transaccionManual">
    <div class="cardTravex">
        <div class="cardTravex-hgroup">
            <div class="cardTravex-title">Transaccion Manual</div>
        </div>
        <form id="frm-setTransactionManual" class="travexForm">
            <div class="travexForm-group">
                <div class="travexForm-label">Metodo de Pago</div>
                <select class="travexForm-control" name="MethodId" required>
                    {{> dropDownList MetodosPago}}
                </select>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Fecha</div>
                <input type="date" class="travexForm-control" id="dtFecha" value="{{Fecha}}" name="DateApplied" required>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Monto</div>
                <input type="number" class="travexForm-control" name="Amount" step="0.01" required>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Comercio</div>
                <input type="text" class="travexForm-control" name="Merchant" required>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Subir Archivo</div>
            </div>
            <div id="files64" class="files64" data-base="">
                <button type="button" class="files64-button" data-source="PHOTOLIBRARY">
                    <img src="../../../assets/img/travex/smartphone.svg" alt="photo-camera" class="files64-button-img">
                </button>
                <button type="button" class="files64-button" data-source="CAMERA">
                    <img src="../../../assets/img/travex/photo-camera.svg" alt="photo-camera" class="files64-button-img">
                </button>
                <div class="files64-prev">
                    <img src="../../../assets/img/travex/empty-state-illustrations.gif" class="files64-prev-img">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ckTicketManual" name="Ticket" value="true">
                <label class="form-check-label" for="ckTicketManual">
                    Copiar Ticket Manual
                </label>
            </div>
            <p><small class="text-muted">Se puede realizar un Ticket como comprobante, copiando los datos ya capturados y se puede agregar un archivo al mismo Ticket. *** No subir XML y PDF.</small></p>
            <button class="btn btn-secondary btn-block mb-4" type="button" id="btnCollapse" data-toggle="collapse" data-target="#copiaTicketManualContainer" aria-expanded="false" aria-controls="copiaTicketManualContainer" disabled>
                Mas Información
            </button>
            <div id="copiaTicketManualContainer" class="collapse">
                <h4 class="subtitle">CLASIFICAR</h4>
                <div class="travexForm-group">
                    <div class="travexForm-label">Concepto</div>
                    <select class="travexForm-control" id="cbConceptos" name="CatalogId">
                        {{> dropDownList Conceptos}}
                    </select>
                </div>
                <div class="travexForm-group">
                    <div class="travexForm-label">Clasificacion</div>
                    <select class="travexForm-control" id="cbClasificacion" name="SubCatalogId">
                        <option selected disabled>Seleccione un concepto</option>
                    </select>
                </div>
                <div class="travexForm-group">
                    <div class="travexForm-label">Centro de Costos</div>
                    <select class="travexForm-control" id="cbCentroCostos" name="CostCenterId">
                        {{> dropDownList CentroCostos}}
                    </select>
                </div>
                <div class="travexForm-group">
                    <div class="travexForm-label">Presupuesto</div>
                    <select class="travexForm-control" id="cbPresupuestos" name="BudgetId">
                        {{> dropDownList Presupuestos}}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Guardar</button>
            <button type="button" class="btnVolver btn btn-block btn-secondary">Volver</button>
        </form>
    </div>
</section>