/**
 *
 * Notificaciones
 *
 */

.card-title {
    font-weight: 600;
    font-size: 15px;
    margin: 0 5px;
    & img {
        width: 9%;
        margin: 0 5px;
    }
    & span,
    ul {
        display: inline-block;
    }
}

.card-header2 {
    padding: 4px 9px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    & button {
        position: absolute;
        margin: 0 90%;
        border: none;
    }
}

.leido {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    font-size: 14px;
    font-weight: 600;
}

.notificacion-container {
    padding: 15px;
}

.notificacion {
    position: relative;
    margin-bottom: 15px;
    &.remove {
        animation: slit-out-vertical 0.5s ease-in both;
    }
    & .nav-link {
        padding: 5px 8px;
    }
    & a {
        font-size: 8px;
        font-weight: 600;
    }
    &-body {
        padding: 5px 15px;
        font-size: 13px;
        & h3 {
            margin: 0;
            font-size: 16px;
            color: #000;
        }
        & b {
            display: inline-block;
            margin-bottom: 10px;
            color: #929292;
            font-size: 12px;
        }
        ul {
            list-style: none;
            padding-left: 10px;
        }
    }
}

@keyframes slit-out-vertical {
    0% {
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }
    54% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
}