<!--====================================
=            NOTIFICACIONES            =
=====================================-->
<section id="notificaciones" class="cardTravex">
    <div class="cardTravex-hgroup">
        <h3 class="cardTravex-title">Notificaciones</h3>
    </div>
    <div class="notificacion-container">
        {{#each Notificaciones}}
            <div id="notificacion-{{Id}}" class="card notificacion">
                <div class="card-header2">
                    <ul class="nav nav-pills card-header-pills">
                        <span class="card-title"><img src="../../assets/img/travex_icono.png" alt="" class="icono-img">{{Id}}</span>
                        <button class="nav-item text-right">
                            <a class="btnSetPopUpRead nav-link active" href="#" data-id="{{Id}}">X</a>
                        </button>
                    </ul>
                </div>
                <div class="card-body notificacion-body">
                    {{{Description}}}
                </div>
            </div>
            {{else}}
                <div class="p-2 text-center text-muted">Has leído todas las notificaciones.</div>
        {{/each}}
    </div>
</section>