<!--====  _successEmail  ====-->
<div id="successEmail">
    <img src="../../assets/img/iconos/email.svg" class="successEmail-icon">
    <p>Te hemos enviado un correo electrónico con las instrucciones para cambiar tu contraseña, si existe una cuenta asociada recibirás un correo electrónico en los siguientes minutos.</p>
    <p>Si no recibes ningún correo electrónico, por favor verifica que el correo electrónico sea el que corresponde a tu cuenta, también checa tu carpeta de spam.</p>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>