/**
 *
 * Login
 *
 */

.login-logo {
    position: relative;
    text-align: center;
    margin: 0 0 10vh 0;
    & .login-logo-img {
        display: inline-block;
        width: 70%;
    }
}

.login-formGroup {
    margin-bottom: 45px;
    position: relative;
    & img {
        position: absolute;
        width: 24px;
        top: 8px;
        left: 8px;
    }
    &>label {
        color: #eee;
        font-weight: 500;
        display: block;
    }
    & #mostrarContraseña {
        position: absolute;
        right: 0;
        width: 32px;
        height: 32px;
        background: transparent url(../../assets/img/eye.svg) no-repeat center center;
        border-radius: 10px;
        background-size: contain;
        top: 50%;
        transform: translate(-50%, -50%);
        &.active {
            background: transparent url(../../assets/img/eye2.svg) no-repeat center center;
            background-size: contain;
        }
    }
}

.login-control,
.login-control:focus {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    border: 0;
    width: 100%;
    padding: 12px 8px 12px 45px;
}

#btn-olvideContra {
    display: block;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}


#successEmail {
    position: relative;
    & .successEmail-icon {
        display: inline-block;
        width: 40%;
        max-width: 300px;
        float: left;
        margin: 20px;
    }
}

.button.button-entrar {
    background: #00bedf !important;
    color: #fff !important;
}

.modalOlvideContra {
    & p {
        font-size: 12px;
    }
}