<!--====  LOGIN  ====-->
<div class="login-logo">
    <img src="../../assets/img/travex/logo_travex.svg" alt="TRAVEX" class="login-logo-img">
</div>
<section id="login">
    <form id="frm-login">
        <input type="hidden" name="grant_type" value="password">
        <div class="login-formGroup">
            <input type="text" name="userName" class="login-control" id="inputUser" value="{{UserTemp}}" placeholder="Usuario">
            <img src="../../assets/img/travex/user_login.svg">
        </div>
        <div class="login-formGroup">
            <div id="mostrarContraseña"></div>
            <input type="password" name="password" class="login-control" id="inputPassword" placeholder="Contraseña">
            <img src="../../assets/img/travex/password.svg">
        </div>
        <div class="text-center">
            <button type="submit" class="button button-entrar">Inicia Sesión</button>
        </div>
    </form>
</section>
<a id="btn-olvideContra" href="#" data-toggle="modal" data-target="#modal-olvideContra" class="text-white">¿Olvidaste tu contraseña?</a>