<div id="layoutLogin">
    <div id="renderBody" class="layoutLogin-container"></div>
    <div id="modal-olvideContra" class="modal modalOlvideContra" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recuperar contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalOlvideContra-body">
                    <p>Ingrese su nombre de usuario para restablecer su contraseña.</p>
                    <p>
                        Recibirá un correo electrónico con instrucciones sobre cómo restablecer su contraseña. Si tiene problemas para restablecer su contraseña <a href="tel:+52182488276">contáctenos</a> o <a href="mailto:mgomez@onecard.mx">envíenos un correo electrónico</a>
                    </p>
                    <form id="frm-sendMailForgotPassword">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" name="Username" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enviar correo</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>