<div id="header" class="header">
    <div class="header-item">
        <button id="btn-touchSidewipe">
            <img src="../../assets/img/travex/mlateral_icono.svg" alt="MENU">
        </button>
    </div>
    <div class="header-item">
        <button onclick="app.View('main')">
            <img class="" src="../../assets/img/travex/logo_header.svg" alt="headerIcon.png">
        </button>
    </div>
    <div class="header-item">
        <button onclick="app.LogOut();">
            <img src="../../assets/img/travex/salir_icono.svg" alt="headerIcon.png">
        </button>
    </div>
</div>
<div id="menu" class="menu">
    <button class="menu-item active" onclick="app.View('saldo')" data-view="saldo">
        <img src="../../assets/img/travex/saldo_icono.svg" alt="SALDO">
    </button>
    <button class="menu-item" onclick="app.View('comprobar')" data-view="comprobar">
        <img src="../../assets/img/travex/comprobar_icono.svg" alt="COMPROBAR">
    </button>
    <button class="menu-item" onclick="app.View('presupuestoAlta')" data-view="presupuestoAlta">
        <img src="../../assets/img/travex/presupuesto_icono.svg" alt="PRESUPUESTOALTA">
    </button>
    <button class="menu-item" onclick="app.View('express')" data-view="express">
        <img src="../../assets/img/travex/express_icono.svg" alt="EXPRESS">
    </button>
</div>
<div class="u-bar"></div>
<div id="renderBody"></div>