<option value="" selected disabled>Seleccione una opción</option>
{{#each this}}
    <option value="{{Value}}" {{Selected}}>{{Text}}</option>
    {{else}}
        <option value="1">N/A</option>
{{/each}}