<div class="main">
    <div class="main-bar">
        <span>BIENVENIDO <b>{{userName}}</b>!</span>
    </div>
    <div class="cardTravex">
        <div class="mainMenu">
            <button class="mainMenu-item" onclick="app.View('saldo')">
                <img src="../../assets/img/travex/saldo_icono.svg" alt="SALDO">
                <span>Saldo y<br>Movimientos</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('comprobar')">
                <img src="../../assets/img/travex/comprobar_icono.svg" alt="COMPROBAR">
                <span>Comprobar</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('porFacturar')">
                <img src="../../assets/img/travex/porFacturar.svg" alt="POR FACTURAR">
                <span>Por Facturar</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('presupuestoAlta')">
                <img src="../../assets/img/travex/presupuesto_icono.svg" alt="ALTA">
                <span>Alta<br>Presupuesto</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('express')">
                <img src="../../assets/img/travex/express_icono.svg" alt="EXPRESS">
                <span>Presupuesto<br>Express</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('estatus')">
                <img src="../../assets/img/travex/estatus_icono.svg" alt="TRANSACCION">
                <span>Estado<br>Presupuesto</span>
            </button>
            <button class="mainMenu-item" onclick="app.View('configuracion')">
                <img src="../../assets/img/travex/config_icono.svg" alt="CONFIGURACION">
                <span>Configuración</span>
            </button>
        </div>
    </div>
</div>