/**
 *
 * MAIN
 *
 */

.main {
    position: relative;
    &-bar {
        background: #00bee0;
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding: 5px 0;
    }
}

.mainMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 10px;
    &-item {
        background: #7e7d7d;
        text-align: center;
        color: #ffF;
        padding: 5px;
        border-radius: 10px;
        border: 0;
        flex: 0 0 45%;
        margin: 5px;
        &:hover {
            background: #215796;
            color: #FFEB3B;
        }
        & img {
            animation: fade-in-bck 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            display: inline-block;
            width: 52px;
        }
        & span {
            display: block;
            line-height: 1.4;
        }
    }
}

@keyframes fade-in-bck {
    0% {
        transform: translateZ(80px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}