/**
 *
 * APP TRAVEX
 *
 */

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
    ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
    ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
    ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

html {
    touch-action: manipulation;
}

html,
body {
    min-height: 100vh;
}

.hide {
    display: none;
}

.text-blue {
    color: #21478b;
}

label.error {
    color: #F44336;
}

@marginTopiOS: 20px;

body {
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    background: #dcdcdc;

    &.iOS {
        &:before {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: linear-gradient(0deg, #dcdcdc, #a5a5a5);
            height: 20px;
            z-index: 99999;
            content: "";
        }
    }
}

#app {
    position: relative;
    overflow: hidden;
}

input,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.invalid {
    border-bottom-color: #F44336 !important;
}

#loadingXHR {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.7s cubic-bezier(0.62, 0.86, 0, 0.62);
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 9999;
    }
}

#loading {
    align-items: center;
    background: rgba(63, 77, 88, 0.9215686274509803);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 1s linear;
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 9999;
    }
}

.modal-dialog {
    width: 92vw;
}

.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    -webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    -webkit-animation: animate-to-2 1.5s infinite;
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    -webkit-animation: animate-to-3 1.5s infinite;
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    -webkit-animation: animate-to-1 1.5s infinite;
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    -webkit-animation: animate-to-4 1.5s infinite;
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    -webkit-animation: animate-to-0 1.5s infinite;
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    -webkit-animation: animate-to-5 1.5s infinite;
    animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {

    25%,
    75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-2 {

    25%,
    75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-3 {

    25%,
    75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {

    25%,
    75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%,
    75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%,
    75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%,
    75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%,
    75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}


#layoutLogin {
    background: #001a70 url(../img/travex/fondo_login.png) no-repeat bottom;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: auto;

    & .layoutLogin-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85vw;
    }

    & .button {
        background: #fff;
        border-radius: 10px;
        border: 0;
        color: #1c6080;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        padding: 8px 0;
        width: 80%;

        &.button-danger {
            background: #F44336;
            color: #fff;
        }

        &.button-registrar {
            background: #1c6080;
            color: #fff;
        }
    }

    & label.error {
        color: #000000;
        background: #FFEB3B;
        border-radius: 5px;
        font-weight: 500;
        margin-top: 10px;
        padding: 0px 1em;
    }
}

.modal {
    justify-content: center;
    align-items: center;
    background: rgba(0, 16, 33, 0.75);
}

.modal-open .modal {
    display: flex !important;
}

.image-inline {
    display: inline-block;
}

//LAYOUT
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 35px 0 35px;
    border-bottom: 2px solid #505558;

    &-avatar {
        display: inline-block;
        width: 65%;
    }

    &-name {
        color: #bfbfbf;
        font-size: 22px;
        margin: 10px 0;
    }

    &-menu {
        &-item {

            & a,
            & a:not([href]):not([tabindex]) {
                color: #e6ddb9;

                & i {
                    color: #fff;
                }
            }
        }
    }
}

.navbar-menu {
    margin: 0;
    padding: 25px 10px;
    list-style: none;

    &-item {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: block;
        margin-bottom: 10px;
        padding-bottom: 5px;

        & a {
            font-size: 16px;

            & img {
                display: inline-block;
                margin-right: 10px;
                width: 24px;
            }

            & span {
                vertical-align: middle;
                display: inline-block;
            }
        }

        &-empty {
            display: inline-block;
            width: 24px;
        }
    }

    &-submenu {
        padding: 20px 0 20px 35px;
        list-style: none;

        &-item {
            margin-bottom: 10px;
        }
    }
}

#notificacionesPendientes {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    background: #7c7c7c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-weight: 900;
    box-shadow: inset 0 0 1px 3px #0000003b;
    border: 1px solid #3b434a;

    &.active {
        background: #F44336;
    }
}

.tss {
    width: 0px !important;
}

.tss--open .tss-label {
    display: block !important;
    background: #3f4d58 !important;
    top: 35%;
}

.tss--open .tss-label_pic {
    color: #00bee0 !important;
}

.tss--open .tss-label_pic:before {
    height: 5px !important;
    width: 30px !important;
}

.tss--open .tss-label_pic:after {
    width: 5px !important;
    height: 30px !important;
}

.tss-label {
    display: none !important;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 10px;
    position: relative;

    &-item {
        display: inline-block;

        &:nth-child(2) {
            & button {

                width: 120px;
            }
        }

        & button {
            background: transparent;
            border: 0;
            display: inline-block;
            width: 38px;

            & img {
                width: 100%;
                display: inline-block;
            }
        }
    }
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg, #213780, #21bbda);
    padding: 0;
    border: none;

    &-item {
        display: inline-block;
        background: transparent;
        border: 0;
        width: 38px;
        position: relative;

        &.active {
            &:after {
                background: #fff;
                content: "";
                height: 3px;
                left: 0;
                position: absolute;
                top: 105%;
                width: 100%;
                z-index: 9;
            }
        }

        & img {
            width: 100%;
            display: inline-block;
        }
    }
}

.cardTravex {
    background: #e6e6e6;
    margin: 15px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    padding-bottom: 30px;
    position: relative;

    &-hgroup {
        text-align: center;
        padding: 10px 0;

        & .cardTravex-title {
            border-radius: 10px;
            color: #001a70;
            display: inline-block;
            font-size: 20px;
            margin: 0;
            padding: 8px 16px;
            background: #d8d8d8;
            font-weight: 600;
        }
    }

    &-partial {
        padding: 0 15px;
    }
}

.floatButtonLeft {
    position: absolute;
    width: 32px;
    top: 15px;
    left: 15px;
    background: transparent;
    border: 0;

    & img {
        display: inline-block;
        width: 100%;
    }
}

.floatButtonRight {
    position: absolute;
    width: 32px;
    top: 15px;
    right: 15px;
    background: transparent;
    border: 0;

    & img {
        display: inline-block;
        width: 100%;
    }
}

a,
button,
button:focus,
input,
input:focus {
    outline: none;
}

.travexForm {
    text-align: center;
    padding: 6vw;

    &.noPadding {
        padding: 0;
    }

    & label.error {
        color: #F44336;
        font-weight: 500;
    }

    & .travexForm-group {
        text-align: left;
        margin-bottom: 25px;

        & .travexForm-label {
            color: #595959;
            font-weight: 600;
        }

        & .travexForm-control {
            background: #dcdcdc;
            border-radius: 9px;
            border: 0;
            width: 100%;
            padding: 10px;
            transition: all .2s linear;
            outline: none;

            &.error {
                background: #ffd4d1;
            }
        }
    }
}


.u-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(172deg, #213780, #21bbda);
    padding: 0;
    height: 6px;
}

.files64 {
    position: relative;
    text-align: center;
    padding: 10px;
    background: #ccc;
    margin: 10px;

    &-button {
        display: inline-block;
        text-align: center;
        border: 2px solid #154b7b;
        background: #21639e;
        color: #fff;
        padding: 10px;
        border-radius: 5px;

        &-img {
            display: inline-block;
            width: 32px;
        }
    }

    &-prev {
        margin: 15px 0 0 0;
        background: #21639e;
        padding: 15px;
        border-radius: 10px;

        &-img {
            display: inline-block;
            border-radius: 10px;
            border: 2px solid #fff;
            width: 100%;
        }
    }
}