@media(max-width:1023px) {
    .touch-side-swipe {
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .tss .touch-side-swipe {
        display: block;
        overflow-y: overlay;
    }
    .tss {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        will-change: transform;
        transition-property: transform;
        transition-timing-function: ease;
    }
    .tss-wrap {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #3f4d58;
        background-size: cover;
    }
    .tss-label {
        z-index: 99999;
        position: absolute;
        top: 5px;
        right: -44px;
        width: 44px;
        height: 44px;
        display: block;
        cursor: pointer;
    }
    .tss--open .tss-label {
        background: #fff;
        border-radius: 0 10px 10px 0;
    }
    .tss-label_pic {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        text-align: left;
        text-indent: -9999px;
        direction: ltr;
        box-sizing: border-box;
        transition: transform .2s ease;
    }
    .tss-label_pic:after,
    .tss-label_pic:before {
        content: '';
        pointer-events: none;
        transition: transform .2s ease;
    }
    .tss--close .tss-label_pic {
        color: #0073ad;
        width: 30px;
        height: 4px;
        box-shadow: inset 0 0 0 32px, 0 -8px, 0 8px;
        margin: 15px 7px;
    }
    .tss--close .tss-label_pic:after {
        position: absolute;
        transform: translateY(4px);
        color: #fff;
        width: 30px;
        height: 3px;
        box-shadow: inset 0 0 0 32px, 0 -8px, 0 8px;
        top: 0;
        left: 0;
    }
    .tss--open .tss-label_pic {
        color: #0073ad;
        padding: 0;
        width: 40px;
        height: 40px;
        margin: 2px;
        transform: rotate(45deg);
    }
    .tss--open .tss-label_pic:before {
        width: 40px;
        height: 2px;
    }
    .tss--open .tss-label_pic:after {
        width: 2px;
        height: 40px;
    }
    .tss--open .tss-label_pic:after,
    .tss--open .tss-label_pic:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0 0 0 32px;
    }
    .tss-bg {
        background: #ffffff;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        will-change: opacity;
        transition-property: opacity;
        transition-timing-function: ease;
    }
}