<!--=========================================
=            ESTATUS PRESUPUESTO            =
==========================================-->
{{#each Prespuesto}}
    <div class="estausPresupuesto card text-center">
        <div class="card-body">
            <h3>{{Status.Description}}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item estausPresupuesto-monto">
                    <b>Empleado</b>
                    <br><span>{{Employee.FullName}}</span>
                </li>
                <li class="list-group-item estausPresupuesto-descripcion">
                    <b>Descripción</b>
                    <br><span>{{Description}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center estausPresupuesto-monto">
                    <b class="d-inline-block" data-toggle="popover" data-content="Monto del presupuesto">Monto</b><span>{{currency Amount}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center estausPresupuesto-balance">
                    <b class="d-inline-block" data-toggle="popover" data-content="Saldo de la tarjeta de {{Employee.FullName}}">Saldo</b><span>{{currency Balance}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center estausPresupuesto-periodo">
                    <b>Periodo</b> <small>{{StartDate}} a {{EndDate}}</small>
                </li>
                <li class="list-group-item estausPresupuesto-fechaCreacion">
                    <small class="text-muted">Creado el {{CreateDate}}</small>
                </li>
            </ul>
        </div>
    </div>
    {{else}}
        <p class="jumbotron text-center text-center p-4">No existe el presupuesto ingresado</p>
{{/each}}