<!--=============================
=            ESTATUS            =
==============================-->
<section id="estatus" class="estatus">
    <div class="cardTravex">
        <div class="cardTravex-hgroup">
            <h3 class="cardTravex-title">Estado Presupuesto</h3>
        </div>
        <form id="frm-getBudget" class="travexForm">
            <input type="hidden" name="Type" value="Budget">
            <div>
                <img class="searchImg" src="../../assets/img/travex/busqueda.png">
                <input type="number" name="BudgetId" placeholder="No. Presupuesto" class="travexForm-control">
            </div>
            <button class="btn">Consultar</button>
        </form>
        <div id="estatusContainer"></div>
    </div>
</section>