/**
 *
 * Estatus
 *
 */

.estatus {
    & .imagenTarjetas {
        text-align: center;
    }

    & .imagenTarjetas img {
        width: 65%;
        animation: slit-in-vertical 0.45s ease-out both;
        margin: 20px auto 5px auto;
    }

    & .travexTar-label {
        display: inline-block;
    }

    & .travexTar-group {
        font-weight: 600;
        color: #555;
    }

    & .calendar img {
        width: 15%;
    }

    & .searchImg {
        width: 14%!important;
        margin: 10px;
    }
    & .travexForm-control {
        margin-bottom: 15px;
        border-radius: 7px;
        border: none;
        background: rgba(0, 0, 0, .08);
        padding: 8px 13px;
        color: #555;
        display: inline-block;
    }
    & .btn {
        margin-top: 15px;
        background: #00BEDF;
        padding: 8px 13px;
        border-radius: 8px;
        border: none;
        font-weight: 500;
        color: #fff;
    }

    & .btn img {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
}