<!--===================================
=            TICKET MANUAL            =
====================================-->
<section class="transaccionManual">
    <div class="cardTravex">
        <div class="cardTravex-hgroup">
            <div class="cardTravex-title">Ticket Manual</div>
        </div>
        <form id="frm-setUploadManualTicket" class="travexForm">
            <input type="hidden" name="TransactionId" class="RelationId" value="{{TransactionId}}">
            <input type="hidden" name="File" id="iFile">
            <div class="travexForm-group">
                <div class="travexForm-label">Concepto</div>
                <select class="travexForm-control" id="cbConceptos" name="CatalogId" required>
                    {{> dropDownList Conceptos}}
                </select>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Clasificacion</div>
                <select class="travexForm-control" id="cbClasificacion" name="SubCatalogId" required>
                    <option selected disabled>Seleccione un concepto</option>
                </select>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Centro de Costos</div>
                <select class="travexForm-control" id="cbCentroCostos" name="CostCenterId">
                    {{> dropDownList CentroCostos}}
                </select>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Presupuesto</div>
                <select class="travexForm-control" id="cbPresupuestos" name="BudgetId">
                    {{> dropDownList Presupuestos}}
                </select>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Monto</div>
                <input type="number" name="Amount" id="iAmount" class="travexForm-control" value="{{Amount}}" step="0.01" required>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Subir Imagen</div>
            </div>
            <div id="files64" class="files64" data-base="">
                <button type="button" class="files64-button" data-source="PHOTOLIBRARY">
                    <img src="../../../assets/img/travex/smartphone.svg" alt="photo-camera" class="files64-button-img">
                </button>
                <button type="button" class="files64-button" data-source="CAMERA">
                    <img src="../../../assets/img/travex/photo-camera.svg" alt="photo-camera" class="files64-button-img">
                </button>
                <div class="files64-prev">
                    <img src="../../../assets/img/travex/empty-state-illustrations.gif" class="files64-prev-img">
                </div>
            </div>
            <div class="travexForm-group">
                <div class="travexForm-label">Descripción</div>
                <textarea name="Description" class="travexForm-control"></textarea>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Guardar</button>
            <button type="button" class="btnVolver btn btn-block btn-secondary">Cerrar</button>
        </form>
    </div>
</section>