/**
 *
 * CONFIGURACION
 *
 */

.btn-contra {
    background: #00BEDF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 13px;
    width: 50%;

    & img {

        height: auto;
        margin-right: 10px;
    }
}

.configuracion {
    & .formatoContra {
        display: inline-block;
        width: 40%;
        max-width: 300px;
    }
}

.formRegistro {
    position: relative;

    &-group {
        position: relative;
        margin-bottom: 20px;

        & label {
            display: block;
            color: #353535;
            text-align: left;
            font-weight: 600;
        }
    }

    &-control {
        display: block;
        background: #fff;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        width: 100%;
    }

    &-btnAddon {
        position: relative;

        & button {
            border-radius: 0 5px 5px 0;
            border: 0;
            border-left: 2px solid #1779a4;
            height: 47px;
            padding: 4px;
            position: absolute;
            right: -1px;
            top: 0;
            width: 44px;
            background: #16759e url(../../assets/img/eye.svg) no-repeat center center;
            background-size: 80%;

            &.active {
                background: #1ca5db url(../../assets/img/eye2.svg) no-repeat center center;
                background-size: 80%;
            }
        }
    }

    &-passwordCheck {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        & span {
            flex: 1;
            background: rgba(0, 0, 0, .1);
            border-radius: 10px;
            height: 10px;
            margin-right: 5px;
            transition: all .1s ease;

            &:last-child {
                margin-right: 0;
            }
        }

        &.low {
            & span:nth-child(1) {
                background: #e74c3c;
            }
        }

        &.middle {
            & span {
                background: #e67e22;

                &:last-child {
                    background: rgba(0, 0, 0, .1);
                }
            }
        }

        &.heavy {
            & span {
                background: #8BC34A;
            }
        }
    }
}