<!--===================================
=            CONFIGURACION            =
====================================-->
<div class="cardTravex">
    <section id="configuracion" class="configuracion">
        <div class="cardTravex-hgroup">
            <div class="cardTravex-title">Cambiar contraseña</div>
        </div>
        <form id="frm-ChangePassword" class="travexForm">
            <div class="formRegistro-group">
                <label>Contraseña Anterior</label>
                <div class="formRegistro-btnAddon">
                    <button type="button" class="togglePassword"></button>
                    <input type="password" name="OldPassword" id="inputOldPassword" class="formRegistro-control" required tabindex="1">
                </div>
            </div>
            <div class="formRegistro-group">
                <label>Nueva Contraseña</label>
                <div class="formRegistro-btnAddon">
                    <button type="button" class="togglePassword"></button>
                    <input type="password" name="NewPassword" id="inputPassword" class="formRegistro-control" required tabindex="2">
                </div>
                <div id="passwordCheck" class="formRegistro-passwordCheck">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="formRegistro-group">
                <label>Confirmar Contraseña</label>
                <div class="formRegistro-btnAddon">
                    <button type="button" class="togglePassword"></button>
                    <input type="password" name="ConfirmPassword" id="inputConfirmPassword" class="formRegistro-control" required tabindex="3">
                </div>
            </div>
            <div class="form-group text-center">
                <div data-toggle="modal" data-target="#exampleModal">
                    <div><b>Formato de contraseña</b></div>
                    <img src="../../assets/img/iconos/password.svg" alt="loginPassword.svg" class="formatoContra">
                </div>
            </div>
            <button class="btn-contra">
                <img src="../../assets/img/iconos/lock.svg" alt="lock.svg" width="18px" class="align-middle">
                <span class="align-middle">Guardar</span>
            </button>
        </form>
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Formato de Contraseña</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">La contraseña debe ser mínimo de 6 dígitos</li>
                    <li class="list-group-item">Debe contener al menos un caracter especial</li>
                    <li class="list-group-item">Debe contener al menos un número</li>
                    <li class="list-group-item">Debe tener al menos una letra mayúscula y una minúscula</li>
                    <li class="list-group-item"><b>Ejemplo:</b> Onecard1!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>