<!--====================================
=            Nuevo Concepto            =
=====================================-->
<div id="accordion-{{collapseId}}" class="accordion">
    <div class="accordion-header" id="{{collapseId}}" data-toggle="collapse" data-target="#collapse-{{collapseId}}" aria-expanded="true" aria-controls="collapse-{{collapseId}}">
        <span>Concepto</span>
    </div>
    <div id="collapse-{{collapseId}}" class="collapse show" aria-labelledby="{{collapseId}}" data-parent="#accordion">
        <form class="resumen Details" data-accordion="#accordion-{{collapseId}}">
            <div class="resumen-item">
                <label>Concepto</label>
                <select class="cbConceptos form-control needsclick" name="CatalogId">
                    {{>dropDownList Catalogs}}
                </select>
                <input type="hidden" name="vcCatalog">
            </div>
            <div class="resumen-item">
                <label>Clasificacion</label>
                <select class="cbClasificacion form-control needsclick" name="SubcatalogId"></select>
                <input type="hidden" name="vcSubcatalog">
            </div>
            <div class="resumen-item">
                <label>Monto</label>
                <input type="number" class="form-control needsclick AmountPolicy" name="Amount">
            </div>
            <div class="resumen-item">
                <label>Descripcion</label>
                <textarea cols="10" rows="5" class="form-control needsclick" name="Description"></textarea>
            </div>
            <div class="text-center">
                <button type="button" class="btnEliminarConcepto btn btn-danger" data-accordion="#accordion-{{collapseId}}">Eliminar</button>
                <button type="button" class="btnCollapse btn btn-secondary" type="guardar">Guardar</button>
            </div>
        </form>
    </div>
</div>