<!--==============================================
=            PresupuestoAlta - RESUMEN            =
===============================================-->
<div class="cardTravex-partial">
    <form id="frm-budget" class="travexForm noPadding">
        <div class="travexForm-group">
            <div class="travexForm-label">Detalle</div>
            <input id="iDescription" type="text" class="travexForm-control" placeholder="Objetivo" name="Description" required>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Periodo</div>
            <div class="row">
                <div class="col-6">
                    <input type="date" class="travexForm-control datepicker" placeholder="Inicio" name="StartDate" value="{{periodoDefault}}" required>
                </div>
                <div class="col-6">
                    <input type="date" class="travexForm-control datepicker" placeholder="Fin" name="EndDate" value="{{periodoDefault}}" required>
                </div>
            </div>
        </div>
        <div class="travexForm-group">
            <div class="travexForm-label">Subir Imagen</div>
        </div>
        <div id="files64" class="files64" data-base="">
            <button type="button" class="files64-button" data-source="PHOTOLIBRARY">
                <img src="../../assets/img/travex/smartphone.svg" alt="photo-camera" class="files64-button-img">
            </button>
            <button type="button" class="files64-button" data-source="CAMERA">
                <img src="../../assets/img/travex/photo-camera.svg" alt="photo-camera" class="files64-button-img">
            </button>
            <div class="files64-prev">
                <img src="../../assets/img/travex/empty-state-illustrations.gif" class="files64-prev-img">
            </div>
        </div>
    </form>
</div>
<div class="p-3" style="background: #f1f1f1">
    <h3 class="text-muted">Conceptos</h3>
    <div id="Details-container"></div>
    <button id="btnNuevoConcepto" type="button" class="btn btn-info">✚ Agregar Concepto</button>
</div>
<section id="resumen" class="m-4">
    <div class="resumen">
        <div class="resumen-item">
            <label>Empleado</label>
            <span>{{Employee.FullName}}</span>
        </div>
        <div class="resumen-item">
            <label>Proyecto</label>
            <span>{{Project.Name}}</span>
        </div>
        <div class="resumen-item">
            <label>Estado</label>
            <span>{{State.Name}}</span>
        </div>
        <div class="resumen-item">
            <label>Municipio</label>
            <span>{{Municipality.Name}}</span>
        </div>
        <div id="resumen-container" class="text-right"></div>
    </div>
</section>
<div class="text-center">
    <button type="button" id="btnGuardarPrespuesto" class="btn btn-primary">Guardar Presupuesto</button>
</div>
</div>