<!--==============================================
=            PresupuestoAlta - DATOS            =
===============================================-->
<div class="cardTravex-partial">
    <form class="travexForm noPadding">
        <div class="travexForm-group">
            <label class="travexForm-label">Proyecto</label>
            <select name="Project" id="cbProyecto" class="travexForm-control">
                <option value="" disabled selected>Seleccione una opcion</option>
                {{#each Proyectos}}
                    <option value="{{Id}}">{{Name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="travexForm-group">
            <label class="travexForm-label">Estado</label>
            <select name="State" id="cbEstado" class="travexForm-control">
                <option value="" disabled selected>Seleccione una opcion</option>
                {{#each Estados}}
                    <option value="{{Id}}">{{Name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="travexForm-group">
            <label class="travexForm-label">Municipio</label>
            <select name="Municipality" id="cbMunicipio" class="travexForm-control">
                <option value="" disabled selected>Seleccione un estado</option>
            </select>
        </div>
    </form>
    <div class="text-center">
        <button class="btn btn-primary btnSiguiente" data-view="guardar">Siguiente</button>
    </div>
</div>