<div class="resumenConceptos">
    <div class='resumenConceptos-title'>CONCEPTOS</div>
    <div class='resumenConceptos-item'>
        <table class="table table-bordered table-striped">
            <tbody>
                {{#each Details}}
                    <tr>
                        <td>{{Catalog.vcCatalog}}</td>
                        <td>{{Subcatalog.vcSubcatalog}}</td>
                        <td>{{currency Amount}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class='resumenConceptos-total'>
        <b>TOTAL</b>
        <span>{{currency Total}}</span>
    </div>
</div>