/**
 *
 * Prespuesto Alta
 *
 */

.resumen {
    padding: 10px;
    background: #d2d2d2;
    border-radius: 10px;
    margin: 15px 0;
    position: relative;
    &-item {
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #c3c3c3;
        &:last-child {
            border: 0;
        }
        & label {
            color: #5f5f5f;
            display: block;
            font-weight: 600;
            margin: 0;
        }
        & span {
            display: block;
            color: #999999;
            font-size: 14px;
        }
    }
}

.accordion {
    background: #d2d2d2;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
    &-header {
        background: #21639e;
        border-radius: 5px;
        border: 1px solid #144a7b;
        color: #fff;
        font-size: 18px;
        padding: 8px;
    }
}

.resumenConceptos {
    text-align: center;
    &-title {
        font-size: 18px;
        font-weight: 600;
        color: #5f5f5f;
    }
    &-item {
        font-size: 10px;
    }
}